/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos generales*/
body {
  background-color: #EDEDED;
}

/*navbar*/
header .bg-white {
  background-color: white;
}

/*footer*/
footer {
  margin-top: 50px;
  margin-bottom: 0px;
  text-align: center;
  justify-content: center;
  font-size: 0.5em;
}

/*estilos de index*/
/*carousel*/
.carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*section*/
section {
  margin: 20px;
  justify-content: center;
  text-align: center;
}

.descripcion {
  text-align: justify;
}

.contenedor-texto {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  border: 5px solid white;
  background-color: #042449;
}
.contenedor-texto h2 {
  color: white;
}

.text-clientes {
  font-size: small;
  margin-top: 20px;
  margin-bottom: 10px;
}

.cont-img-clientes {
  margin-left: 20px;
  margin-right: 20px;
}

.clientes {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*estilos de nosotros*/
/*main*/
main {
  display: grid;
}
main div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main div ul {
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 1px;
  text-align: center;
  font-size: 14px;
}

.img-cont {
  position: relative;
  display: inline-block;
}

.text-sobre-img {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  text-align: center;
  background-color: rgba(4, 36, 73, 0.1843137255);
  border-radius: 10px;
}

.general-somos {
  margin: 1px;
}

.tit {
  margin: 20px 20px;
  font-weight: bolder;
}

.texto-justificado {
  text-align: justify;
}

.text-somos {
  margin: 20px 20px;
}

.bold {
  font-weight: bold;
}

.img-somos {
  position: relative;
  display: inline-block;
}

.text-vision-mision {
  margin: 40px 20px 0px 20px;
  display: flex;
  flex-direction: column;
}

.vision {
  background-color: #042449;
  color: #EDEDED;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  border: 5px solid white;
}

.mision {
  background-color: #B24343;
  color: #EDEDED;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  border: 5px solid white;
}

.vision-mision {
  text-align: center;
}

/*estilos de servicios*/
.list-serv-arti {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.servicios-articulos {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: calc(100% - 40px);
  margin-bottom: 20px;
}
.servicios-articulos img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.serv-tit {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.servs {
  text-align: justify;
  margin-bottom: 15px;
}

/*estilos de blog*/
.list-serv-arti {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.servicios-articulos {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: calc(100% - 40px);
  margin-bottom: 20px;
}
.servicios-articulos img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.arti-tit {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.arti {
  display: none;
}

.boton-mas-articulo {
  cursor: pointer;
  color: black;
  background-color: #EDEDED;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

/*estilos de contacto*/
form {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 100%;
  margin: 40px 20px 0px 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
}

input[type=submit] {
  background-color: #0056b3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type=submit]:hover {
  background-color: #0056b3;
}

.mapa {
  margin-top: 20px;
  position: relative;
  width: 100%;
  padding-top: 50%;
}

.mapa iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lista-contacto {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.lista-contacto li {
  margin-bottom: 10px;
}

.contacto {
  padding: 5px;
  color: white;
  background-color: #042449;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

h3 {
  margin-bottom: 20px;
}

/*mq*/
/*mq tablet*/
@media screen and (min-width: 600px) {
  .carousel-caption h1 {
    font-size: 45px;
  }
  .text-vision-mision {
    flex-direction: row;
  }
  .cuadro-text {
    flex: 1;
    margin-right: 1px;
    margin-bottom: 0;
  }
  main div ul {
    font-size: 18px;
  }
  .list-serv-arti .servicios-articulos {
    width: calc(50% - 20px);
  }
  .arti {
    display: block;
    text-align: justify;
    margin-bottom: 15px;
  }
  .list-serv-arti .servicios-articulos {
    width: calc(50% - 20px);
  }
  .boton-mas-articulo {
    display: none;
  }
}
/*mq desktop*/
@media screen and (min-width: 1024px) {
  .carousel-caption h1 {
    font-size: 65px;
  }
  main div ul {
    font-size: 30px;
  }
  .list-serv-arti .servicios-articulos {
    width: calc(33.33% - 20px);
  }
  .list-serv-arti .servicios-articulos {
    width: calc(33.33% - 20px);
  }
}

/*# sourceMappingURL=style.css.map */
