
/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales*/
body{
    background-color: #EDEDED;
}

/*footer*/
footer{
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
    justify-content: center;
    font-size: 0.5em;
}

//import
@import "html/navbar";
@import "html/index";
@import "utilidades/mq";

