
/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales*/
body{
    background-color: #EDEDED;
}

//import
@import "html/navbar-footer";
@import "html/index";
@import "html/nosotros";
@import "html/servicios";
@import "html/blog";
@import "utilidades/mq";

