//todos los estilos para el html blog


/*estilos de blog*/
.lista-articulos {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.articulos{
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: calc(100% - 40px);
    margin-bottom: 20px;

    img {
        border-radius: 10px;
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
    }    
}

.arti-tit {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.arti {
    display: none;
}  

.boton-mas-articulo{
    cursor: pointer;
    color: black;
    background-color: #dddddd;
    border: none;
    border-radius: 5px; 
    padding: 5px 10px;
}