//todos los estilos para el html nosotros


/*estilos de nosotros*/
/*main*/
main{
    display: grid;
    div{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        ul{
            list-style-type: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            padding: 1px;
            text-align: center;
            font-size: 14px;
        }
    }
}

.img-cont{
    position: relative;
    display: inline-block;
}

.text-sobre-img{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    text-align: center;
    background-color: #0424492f;
    border-radius: 10px;
}

.general-somos{
    margin: 1px;
}

.tit{
    margin: 20px 20px;
    font-weight: bolder;
}

.texto-justificado{
    text-align: justify;
}
.text-somos{
    margin: 20px 20px;
}

.bold{
    font-weight: bold;
}

.img-somos{
    position: relative;
    display: inline-block;
}

.text-vision-mision{
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
}

.vision{
    background-color: #042449;
    color: #EDEDED;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    border: 5px solid white;
}

.mision{
    background-color: #B24343;
    color: #EDEDED;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    border: 5px solid white;
}

.vision-mision{
    text-align: center;
}

