
/*mq tablet*/

@media screen and (min-width:600px){

    //html index
    .carousel-caption{
        h1{
            font-size: 45px;
        }
    }

    //html nosotros   
    .text-vision-mision{
        flex-direction: row; 
    }

    .cuadro-text{
        flex: 1;
        margin-right: 1px;
        margin-bottom: 0;
   }
   
    main{
        div{
            ul{
                font-size: 18px;
            }

        }
    }

    //html de servicios*
    .list-servicios .servicios{
        width: calc(50% - 20px);
    }
}


/*mq desktop*/
@media screen and (min-width:1024px){
   
    //html index*
    .carousel-caption{
        h1{
            font-size: 65px;
        
        }
    }

    //html nosotros
    main{
        div{
            ul{
                font-size: 30px;
            }

        }
    }

    //html de servicios*
    .list-servicios .servicios{
        width: calc(33.33% - 20px);
    }
}