
/*mq tablet*/

@media screen and (min-width:600px){

    .carousel-caption{
        h1{
            font-size: 45px;
        }
    }

    .text-vision-mision{
        flex-direction: row; 
    }

    .cuadro-text{
        flex: 1;
        margin-right: 1px;
        margin-bottom: 0;
   }
   
    main{
        div{
            ul{
                font-size: 18px;
            }

        }
    }

}


/*mq desktop*/
@media screen and (min-width:1024px){
    .carousel-caption{
        h1{
            font-size: 65px;
        
        }
    }

    main{
        div{
            ul{
                font-size: 30px;
            }

        }
    }
    
}